// vueTabs101
// ==================================================/
@mixin vueTabs101_theme() {
  .vueTabs101 {
    background-color: #141416;

    .tabs {
      background-color: #ccc;
      border: 1px solid #000;
      margin-top: 2px;
    }

    .active {
      background-color: #f6f6f6;
      border-top: 1px solid #be0101;
    }
  }

  .vueTabs101_panels {
    background-color: #2c2d32;
  }

  .vueTabs101_tabcontent {
    background-color: #343437;
    border-top: 1px dashed #5c5d60;
    color: #d5d5d5;
  }
}
@include vueTabs101_theme();

.vueTabs101 {
  .tabs {
    @extend %padd--4;
    @extend %display--inline-block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 2px;
    cursor: pointer;
  }

  .active {
    
  }
}

.vueTabs101_panels {
  @extend %padd--4;
  margin-top: -1px;
}

.vueTabs101_tabcontent {
  @extend %padd--4;    
}

//  media queries
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .vueTabs101 {
    > input[type="radio"] + label {
      width: 28%;
      
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .vueTabs101 {
    > input[type="radio"] + label {
      width: auto;      
    }
  }
}